name: Run automation tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ANDROID_HOME: /home/runner/Android/Sdk
      ANDROID_SDK_ROOT: /home/runner/Android/Sdk
      ANDROID_AVD_HOME: /home/runner/.config/.android/avd/

    steps:  
    - name: Update packages
      run: sudo apt-get update

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Install KVM and Emulator Dependencies
      run: |
        sudo apt-get install cpu-checker
        sudo apt-get install -y qemu-kvm libvirt-daemon-system libvirt-clients bridge-utils
        sudo apt-get install -y libvulkan1 libx11-6 libasound2 libgl1-mesa-glx libglu1-mesa
    - name: Set chmod kvm
      run: |      
       sudo chmod o+rw /dev/kvm    
    - name: Install Node.js and npm
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install Appium
      run: npm install -g appium

    - name: Install UiAutomator2
      run: appium driver install uiautomator2

    - name: Curl cmdline-tools from Android.tar.gz
      run: cd && curl -O -L https://github.com/fahleiro/appium-avd-action-ubuntu/releases/download/appium-avd-action-ubuntu-1.0.0/Android.tar.gz
      
    - name: Descomprimir Android.tar.gz
      run: tar -xzf ~/Android.tar.gz -C ~ && echo "Descompressão de Android concluída."

    - name: Install Android dependencies
      run: |
        chmod +x ~/Android/Sdk/cmdline-tools/latest/bin/sdkmanager
        yes | ~/Android/Sdk/cmdline-tools/latest/bin/sdkmanager --licenses
        ~/Android/Sdk/cmdline-tools/latest/bin/sdkmanager --install "platform-tools"
        ~/Android/Sdk/cmdline-tools/latest/bin/sdkmanager --install "emulator"
        ~/Android/Sdk/cmdline-tools/latest/bin/sdkmanager --install "build-tools;30.0.3"
        ~/Android/Sdk/cmdline-tools/latest/bin/sdkmanager --install "platforms;android-27"
        ~/Android/Sdk/cmdline-tools/latest/bin/sdkmanager --install "system-images;android-30;default;x86_64"
    - name: Create Android Virtual Device (AVD)
      run: |
        chmod +x ~/Android/Sdk/cmdline-tools/latest/bin/avdmanager
        ~/Android/Sdk/cmdline-tools/latest/bin/avdmanager create avd -n device-name -k "system-images;android-30;default;x86_64" -d pixel_4
    
    - name: Run Android Virtual Device (AVD)
      run: |
        chmod +x ~/Android/Sdk/emulator/emulator
        chmod +x ~/Android/Sdk/emulator
        ~/Android/Sdk/emulator/emulator -avd device-name -port 5554 -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect -camera-back none -camera-front none &
        
    - name: Validating AVD ready
      run: |
        chmod +x ~/Android/Sdk/platform-tools/adb      
        ~/Android/Sdk/platform-tools/adb wait-for-device
        ~/Android/Sdk/platform-tools/adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done; input keyevent 82'
        echo "Emulator is fully booted and ready!"
        ~/Android/Sdk/platform-tools/adb devices







        
      #specifies about project

    - name: Set up settings.xml
      run: |
        echo "<settings xmlns=\"http://maven.apache.org/SETTINGS/1.0.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd\">
              <servers>
                <server>
                  <id>github</id>
                  <username>${{secrets.GH_ACTOR}}</username>
                  <password>${{secrets.GH_PTOKEN}}</password>
                </server>
              </servers>
            </settings>" > $HOME/.m2/settings.xml 
            
    - name: Git clone
      run: |
        cd && git clone -b mobile-automate-dev https://github.com/fahleiro/java-dev.git
        
    - name: Install .apk in emulator
      run: |
        cd ~/java-dev
        while ! ~/Android/Sdk/platform-tools/adb install app-debug.apk; do
          echo "Failed to install. Retrying..."
          sleep 5
        done
        
    - name: Set Android environment variables and cmdline tools path
      run: |
        echo 'export ANDROID_HOME=/home/runner/Android/Sdk' >> $GITHUB_ENV
        echo 'export ANDROID_SDK_ROOT=/home/runner/Android/Sdk' >> $GITHUB_ENV
        echo 'export PATH=/home/runner/Android/Sdk/cmdline-tools/latest:/home/runner/Android/Sdk/tools:/home/runner/Android/Sdk/platform-tools:$PATH' >> $GITHUB_ENV
        source $HOME/.bashrc
    
    - name: Check Android SDK path
      run: ls /home/runner/Android/Sdk

    - name: List Android environment variables
      run: |
        echo "ANDROID_HOME: $ANDROID_HOME"
        echo "ANDROID_SDK_ROOT: $ANDROID_SDK_ROOT"
        echo "PATH: $PATH"
        echo "ANDROID_AVD_HOME: $ANDROID_AVD_HOME"
        ls -d /home/runner/Android/Sdk
  
    - name: echo path
      run: echo $PATH
      
    - name: Build before Test
      run: |
        cd ~/java-dev && mvn clean install
    
    - name: Start Appium Server
      run: |
        appium --port 4723 --log-level info &
        sleep 10
        
    - name: Run tests
      run: |
        cd ~/java-dev && mvn test -Dtest=Runner.java
      timeout-minutes: 30
